* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hamburger-frame-color: #3a3b3d;
  --hover-hamburger-color: #848d97;
  --header-background-color: #010409;
  --background-color: #0d1117;
  --text-color1: #e6edf3;
  --button-hover-color: #171b20;
  --search-bar-color: #6e7681;
}

body {
  background-color: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  padding: 16px 16px;
  padding-bottom: 8px;
}

header {
  background-color: var(--header-background-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  border: 1px solid var(--hamburger-frame-color);
  background-color: var(--header-background-color);
  height: 33px;
  width: 33px;
  border-radius: 8px;
  cursor: pointer;
}
.hamburger svg {
  width: 16px;
  height: 16px;
}
.hamburger:hover {
  border-color: var(--hover-hamburger-color);
}

.username-reponame {
  color: var(--hover-hamburger-color);
  font-size: 14px;
}
.username-reponame span:nth-child(1) {
  color: var(--hover-hamburger-color);
}
.username-reponame span:nth-child(2) {
  font-weight: 600;
}
.username-reponame span {
  color: var(--text-color1);
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
}
.username-reponame span:hover {
  background-color: var(--button-hover-color);
}

.nav-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
  width: 350px;
  padding: 3px 8px;
  border: 1px solid var(--hamburger-frame-color);
  border-radius: 6px;
  color: var(--text-color1);
}
.search-bar svg {
  height: 20px;
  width: 20px;
}

.search {
  border-radius: 6px;
  width: 309.67px;
  height: 20px;
  border: none;
  outline: none;
  background-color: var(--header-background-color);
  color: var(--text-color1);
}

.search-bar button {
  background-color: var(--header-background-color);
  color: var(--text-color1);
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--hamburger-frame-color);
  border-radius: 6px;
}

.tttwo {
  display: flex;
  align-items: center;
}
.search-bar button span:nth-child(1) {
  text-align: center;
  font-size: 16px;
}
.search-bar button span:nth-child(2) {
  padding: 2px 5px;
  border-radius: 6px;
  cursor: pointer;
}

.search-bar button span:nth-child(2):hover {
  background-color: var(--button-hover-color);
}

.search-bar:active {
  border: 1px solid #1f6feb;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right span {
  font-size: 14px;
  color: var(--hamburger-frame-color);
}
.nav-btn {
  background-color: var(--header-background-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--hamburger-frame-color);
  padding: 0px;
  height: 33px;
  width: 33px;
}
.nav-btn:hover {
  background-color: var(--button-hover-color);
  border-color: var(--hover-hamburger-color);
}
.nth-child-one {
  width: 50px;
}
.avatar-circle {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
.Appheader-local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.issues-and-co {
  display: flex;
  align-items: center;
  gap: 15px;
}
.local-nav-item {
  height: 48px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}
.local-nav-item:nth-child(1) {
  border-bottom: 1.5px solid #f78166;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}
.mobile-more-local-btn {
  display: none;
  background-color: var(--button-hover-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--hamburger-frame-color);
  padding: 8px;
  height: 33px;
  width: 33px;
}
.main {
  padding: 0 32px;
}

.repository-container-header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--hamburger-frame-color);
}

.avatar-user {
  border-radius: 100%;
}
.color-fg-default {
  font-weight: 600;
  font-size: 20px;
}
.color-fg-default:hover {
  text-decoration: underline;
}

.left-repo-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.public {
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--hamburger-frame-color);
  color: var(--hover-hamburger-color);
  font-size: 12px;
  padding: 0.2px 6px;
}

.right-repo-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.watch-and-co {
  background-color: #22262d;
  border: 1px solid var(--hamburger-frame-color);
  padding: 5px 10px;
  color: #c9d1d9;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.watch-and-co:hover {
  background-color: #40474e;
  border-color: #e6edf3;
}
.watch-and-co span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}
.number-circle {
  height: fit-content;
  width: 16px;
  /* padding-top: 3px; */
  text-align: center;
  border-radius: 100%;
  background-color: #40474e;
}

/* .fork {
  background-color: #22262d;
  display: flex;
  
  border-radius: 6px;
  border: none;
} */
.fork {
  padding: 3px 10px;
  background-color: #22262d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  color: #c9d1d9;
  border: 1px solid var(--hamburger-frame-color);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.dropdown {
  padding: 3px 10px;
  background-color: #22262d;
  border: 1px solid var(--hamburger-frame-color);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.fork:hover {
  background-color: #40474e;
  border-color: #e6edf3;
}
.dropdown:hover {
  background-color: #40474e;
  border-color: #e6edf3;
}

@media (max-width: 1012px) {
  .search {
    display: none;
  }
  .search-bar {
    width: 30px;
    padding: 5px;
  }
  .search-bar button {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-right span,
  .nav-btn:nth-child(1),
  .nav-btn:nth-child(2),
  .nav-btn:nth-child(3),
  .nav-btn:nth-child(4),
  .nav-btn:nth-child(5) {
    display: none;
  }
  .dis-none {
    display: none;
  }
  .watch-and-co,
  .fork {
    width: 32px;
    height: 32px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0;
  }
  .watch-and-co {
    padding-left: 7px;
  }
  .left-repo-header {
    display: none;
  }
}

@media (max-width: 743px) {
  .local-nav-item:nth-child(7) {
    display: none;
  }
  .mobile-more-local-btn {
    display: flex;
  }
  .local-nav-item {
    gap: 5px;
  }
}
@media (max-width: 646px) {
  .local-nav-item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 546px) {
  .local-nav-item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 448px) {
  .local-nav-item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 353px) {
  .local-nav-item:nth-child(3) {
    display: none;
  }
}
